# Entorno virtual
venv/
.venv/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Archivos de pytest
.pytest_cache/
.coverage
htmlcov/

# Screenshots y reportes
reports/
screenshots/
trace.zip

# Archivos del sistema
.DS_Store
.vscode/
.idea/

# Variables de entorno
.env

# Archivos de Allure y Playwright
allure-results/
allure-report/
playwright-report/
test-results/

report.html
trace.zip
playwright-report/
test-results/
pytest.ini_viejo.txt

INSTRUCTIVO_PRIVADO.md
backup/